@font-face {
  font-family: 'AutumnInNovember';
  src: url("/lafabriquefrancaise/public/assets/fonts/Autumn\ in\ November.ttf");
}

/* .navbar-brand {
  font-family: 'AutumnInNovember', sans-serif;
} */

body {
  position: relative;
  min-height: 100vh;
}

.navbar-item-custom, .navbar-item-custom a {
  color: #FFF;
}

.footer-custom {
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #dfeaff;
  padding-top: 25px;
}

.float-right a {
  color: #5a5a5a;
}

.product-item h5 {
  text-transform: uppercase;
  font-size: 1rem;
  margin-bottom: 1px;
}

.product-item {
  margin-top: 50px;
}

.product-item .product-subtitle {
  font-size: 14px;
  display: block;
  margin-bottom: 10px;
}

.product-item .product-price {
  font-size: 15px;
  font-weight: bold;
}

.product-container {
  margin-bottom: 150px;
}

.product-page-price {
  font-size: 19px;
}

.cart-icon {
  height: 20px;
  padding-left: 20px;
}

.transition-fade {
  transition: 0.4s;
  opacity: 1;
}

html.is-animating .transition-fade {
  opacity: 0;
}
