{% extends 'base.html.twig' %}

{% block content %}
<div class="container mt-5">

  <h1>Inscription</h1>

  {{ form(form)}}
  {# Je crée un formulaire avec la méthode form() et j'injecte dedans le form qu'on a crée dans RegisterController #}

</div>

{% endblock %}